body {
    background-color: #c8c8c8;
}

div, ul, section, aside, nav {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

.clear-float {
    zoom: 1;
}

    .clear-float:after {
        content: " ";
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }

.wrapper {
    border: 1px solid #000;
    padding: 10px 10px 10px 5px;
    background-color: #e1e1e1;
}

    .wrapper > * {
        float: left;
    }

nav a {
    text-decoration: none;
}

a.home {
    padding-left: 25px;
    background-image: url('../images/home.png');
    background-repeat: no-repeat;
    font-weight: bold;
}

.wrapper > nav > * {
    margin: 15px 10px 0px 0px;
}

nav > section > ul li:first-child {
    color: #ff0000;
}

.wrapper > nav {
    width: 10%;
}

.wrapper > aside {
    width: 15%;
    margin-left: 2px;
}

.wrapper > section {
    background-color: #ffffff;
    border: 1px solid #808080;
    padding: 15px 5px 15px 5px;
    width: calc(75% - 14px);
}

    .wrapper > section > section > header, aside > section > header {
        background-color: #808080;
        color: #fff;
        padding-left: 10px;
    }

aside input, aside button {
    margin: 2px;
}

aside * {
    text-align: center;
}

aside > section {
    padding: 2px;
    border: 1px solid #808080;
    margin: 2px 0px 2px 0px;
}

    aside > section:first-of-type {
        margin-top: 0;
    }

.big-button {
    display: inline-block;
    border: 1px solid #004bff;
    background: rgb(135,224,253); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(135,224,253,1) 0%, rgba(83,203,241,1) 40%, rgba(5,171,224,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(135,224,253,1)), color-stop(40%,rgba(83,203,241,1)), color-stop(100%,rgba(5,171,224,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(135,224,253,1) 0%,rgba(83,203,241,1) 40%,rgba(5,171,224,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87e0fd', endColorstr='#05abe0',GradientType=0 ); /* IE6-9 */
    width: 80%;
    min-height: 40px;
}

.info-image {
    width: calc(100% - 200px);
    margin-left: 200px;
    font-weight: bold;
}

.left-float-image {
    float: left;
}

button {
    background-color: #ffffff;
    border: 1px solid #000;
}

.body-section > section:not(:last-of-type) {
    border-bottom: 0;
}

.body-section > section:not(:first-of-type) {
    border-top: 0;
}

.red-link {
    text-decoration: underline;
    color: #ff0000;
}
