body {
    background-color: #b2b2b2;
}

    body > section > article:nth-child(2) {
        display: none;
    }

    body > header {
        text-align: center;
        color: white;
    }

        body > header > h1 {
            font-size: 2.3em;
        }

    body > footer {
        text-align: center;
    }

header > h1 {
    color: #fffebc;
}

h1 {
    font-size: 1.6em;
}

a {
    text-decoration: none;
    color: black;
}

    a:hover {
        text-decoration: underline;
    }

nav ul {
    list-style-type: none;
}

    nav ul a {
        color: white;
        font-size: 1.4em;
        font-weight: bold;
    }

nav li:nth-child(2) a {
    background-color: #e0e0e0;
}

nav li:nth-child(4) a {
    text-decoration: underline;
}
