extends  ../shared/layout

block main-content
    form(method="post")
        label(for="username") Username
        input(id="username" class="form-control" type="text" name="username" placeholder="Username")
        br
        label(for="password") Passowrd
        input(id="password" class="form-control" type="password" name="password" placeholder="Passowrd")
        br
        label(for="confirm-password") Confirm Passowrd
        input(id="confirm-password" class="form-control" type="password" name="confirmPassword" placeholder="Repeat passoword")
        br
        label(for="first-name") First name
        input(id="first-name" class="form-control" type="text" name="firstName" placeholder="First name")
        br
        label(for="last-name") Last name
        input(id="last-name" class="form-control" type="text" name="lastName" placeholder="Last name")
        br
        label(for="phoneNumber") Phone number
        input(id="phoneNumber" class="form-control" type="text" name="phoneNumber" placeholder="Phone number")
        br
        label(for="address") Address
        input(id="address" class="form-control" type="text" name="address" placeholder="Address")
        br
        label(for="email") Email
        input(id="email" class="form-control" type="text" name="email" placeholder="Email address")
        br
        label(for="twitter") Twitter
        input(id="twitter" class="form-control" type="text" name="twitter" placeholder="Twitter profile link")
        br
        label(for="googlePlus") GooglePlus
        input(id="googlePlus" class="form-control" type="text" name="googlePlus" placeholder="Google+ profile link")
        br
        label(for="facebook") Facebook
        input(id="facebook" class="form-control" type="text" name="facebook" placeholder="Facebook profile link")
        br
        label(for="linkedIn") LinkedIn
        input(id="linkedIn" class="form-control" type="text" name="linkedIn" placeholder="LinkedIn profile link")
        br
        label(for="profileImg") Profile Image
        input(id="profileImg" name="profileImg" type="file")
        br
        label(for="initiative") Initiatives
        br
        if(initiatives)
            -var index = 0
            each initiative in initiatives
                input(type="checkbox" name="initiative_0" value='#{initiative}')
                label(for="season") #{initiative}
                input(id="season_0" class="form-control" type="text" name="season_0" placeholder="Started 2014")
                br

        input(type="submit" class="btn btn-lg" value="Register")
block page-scripts
    script(src="js/register.js")