doctype
html
    head
        title Telerik File Upload System
        link(rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css")
        link(rel="stylesheet" href="/css/site.css")
body
    header.nav
        .container
            .navbar-header
                a.navbar-brand(href="/") File Upload
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    if(currentUser)
                        li
                            a(href="/events/active") Active Events
                        li
                            a(href="/events/past") Past Events
                        li
                            a(href="/events/create") Create Event
                        li
                            a(href="/profile") #{currentUser.username}
                        li
                            a(href="/logout") Logout
                    else
                        li
                            a(href="/register") Register
                        li
                            a(href="/login") Login

    .container
        if(errors)
            each error in errors()
                .alert.alert-danger #{error}
        if(informations)
            each info in informations()
                .alert.alert-info #{info}
        if(successes)
            each success in successes()
                .alert.alert-success #{success}
        block main-content

    footer
        p.text-center
            | &copy; Telerik Academy 2014
    include  scripts